accelerate==1.6.0
sentence-transformers==4.1.0
spacy==3.7.4
thinc==8.2.2
torch==2.7.0
transformers==4.51.3
datasets==3.6.0
selfcheckgpt==0.1.7
faiss-cpu==1.8.0
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.2
matplotlib>=3.7
seaborn>=0.12
elasticsearch==8.15.0
sentencepiece
nltk
termcolor
tqdm